@use '/src/styles/main.scss' as *;

.layout {
    display: grid;
    grid-template-columns: toRem(513) toRem(206) toRem(90) 1fr;
    // grid-template-rows: auto;
    align-items: centers;
    align-content: center;
    // border-bottom: toRem(1) solid #B3B3B3;
    padding: toRem(16) toRem(10);
    margin: 0 toRem(40);

    &__collection {
        @include flex(start, center, toRem(85));
        padding:

        img {
            width: toRem(155);
            height: toRem(92);
        }

        &__collect {
            font-family: $comfortaa;
            font-size: toRem(16);
            font-weight: 700;
            line-height: toRem(17.84);
            color: #333333;
        }

        &__modified {
            font-family: $nunito;
            font-size: toRem(14);
            font-weight: 400;
            line-height: toRem(17.84);
            color: #333333;
            margin-top: toRem(7);
        }
    }

    &__tag {
        @include flex_col(toRem(10));
        justify-content: center;
        align-items: start;

        &__fashion, &__collection {
            @include flex(start, center, toRem(6));
            font-size: toRem(12);
            font-family: $nunito;
            font-weight: 700;
            line-height: toRem(16.4);
            padding: toRem(2) toRem(11);
            border: toRem(1) solid #333333;
            border-radius: toRem(15);
            background-color: #333333;
            color: #FFFFFF;


            svg {
                height: toRem(15);
                width: toRem(15);
            }
        }
    }

    &__size {
        @include flex(start, center, 0);
    }

    &__icons {
        @include flex(center, center, toRem(18));

        img {
            width: toRem(30);
            height: toRem(30);
        }
    }
}

.gridLayout {
    display: flex;
    // display: grid;
    // grid-template-columns: toRem(253) toRem(253) toRem(253) toRem(253);
    // // grid-template-rows: auto;
    // row-gap: toRem(19);
    // column-gap: toRem(30);
    // align-items: centers;
    // align-content: center;
    // justify-content: center;
    // border-bottom: toRem(1) solid #B3B3B3;
}

.line {
    border-bottom: toRem(1) solid #B3B3B3;
}