@use "/src/styles/main.scss" as *;

.cont {
    height: toRem(450);
    width: toRem(500);
    background-color: #FFFFFF;
    color: #333333;
    border-radius: toRem(15);
    padding: toRem(30);

    textarea, input {
        border: 1px solid #333333;
        border-radius: toRem(5);
        outline: none;
        width: 100%
    }

    &__gap {
        margin: toRem(10) 0px;
    }

    &__spread {
        @include flex(space-between, start, toRem(170));

        & div:last-child {
            font-size: toRem(14);
            color: #333333;
        }
    }
}